# Node.js specific files and directories
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables / Sensitive Data
.env

# MongoDB related (if you have local DB files or logs)
db_data/
data/db/

# Log files
*.log
logs/

# Build artifacts / Temporary files (if you have front-end build processes)
dist/
build/
tmp/

# Operating System Files
.DS_Store
Thumbs.db

# Editor and IDE specific files (common ones)
.vscode/
.idea/
*.swp
*.swo
*~